name: Backend deployment

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: docker/Dockerfile.backend
          push: true
          tags: faraz100m/backend:${{ github.sha }}

      - name: Deploy backend to EC2
        run: |
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/admin.pem
          chmod 600 ~/admin.pem

          ssh -o StrictHostKeyChecking=no -i ~/admin.pem ubuntu@54.196.159.244 "
            sudo docker pull faraz100m/backend:${{ github.sha }} &&
            sudo docker stop user_backend || true &&
            sudo docker rm user_backend || true &&
            sudo docker run -d \
              --name user_backend \
              -p 8080:8080 \
              -e DATABASE_URL=${{ secrets.DATABASE_URL }} \
              faraz100m/backend:${{ github.sha }}
          "
